body{
	
	background-color: #000;	
}

.banner{
				background: #3498db;
				text-align: center;
				display: block;
				padding: 20px 10px;
				color: white;
				border-bottom: 4px solid #2980b9;
				border-top-right-radius: 20px;
				border-top-left-radius: 20px;
				font-size: 30px;
			}

form {
				background: white;
				width: 750px;
				height: 650px;
				margin: 30px auto ;
				margin-bottom: 0px;
				border-bottom: 4px solid #3498db;
				border-bottom-right-radius: 20px;
				border-bottom-left-radius: 20px;
				border-top-right-radius: 20px;
				border-top-left-radius: 20px;
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			}

			form div{
				margin: 20px 0px;
				padding: 0px;
			}

			
			form div input:hover{
				border: 0.5px solid #3498db;
			}

			form div input[type="submit"]{
				background: #3498db;
				border-right: none;
				border-left: none;
				border-top: none;
				cursor: pointer;
				width: 270px;
				height: 40px;
				border-bottom: 4px solid #2980b9;
				color: white;
				transition: all 0.5s ease;
			}

			form div input[type="submit"]:hover{
				color: #3498db;
				background: #ecf0f1;
				border-bottom: 4px solid #bdc3c7;
			}

			form div input[type="submit"]:focus{
				outline: none;
			}